<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
    <mat-toolbar color="primary" class="navbar">
        <span class="navbar-brand">Abarrotes Maryori</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/order" routerLinkActive="active">Rastrear Pedido</button>
        <button mat-button routerLink="/signup" routerLinkActive="active">Registrarse</button>
        <button mat-button routerLink="/login" routerLinkActive="active">Iniciar Sesión</button>
    </mat-toolbar>
    </div>
    
    <div *ngIf="isAdminLoggedIn">
      <mat-toolbar color="primary" class="navbar">
          <span class="navbar-brand">Abarrotes Maryori</span>
          <span class="spacer"></span>
          <button mat-button routerLink="/admin/dashboard" routerLinkActive="active">Panel de Control</button>
          <button mat-button routerLink="/admin/analytics" routerLinkActive="active">Analíticas</button>
          <button mat-button routerLink="/admin/category" routerLinkActive="active">Categorías</button>
          <button mat-button routerLink="/admin/product" routerLinkActive="active">Productos</button>
          <button mat-button routerLink="/admin/orders" routerLinkActive="active">Pedidos</button>
          <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active">Crear Cupón</button>
          <button mat-button routerLink="/admin/coupons" routerLinkActive="active">Cupones</button>
          <button mat-button routerLinkActive="active" (click)="logout()">Cerrar Sesión</button>
      </mat-toolbar>
    </div>
    
    <div *ngIf="isCustomerLoggedIn">
        <mat-toolbar color="primary" class="navbar">
            <span class="navbar-brand">Abarrotes Maryori</span>
            <span class="spacer"></span>
            <button mat-button routerLink="/customer/dashboard" routerLinkActive="active">Inicio</button>
            <button mat-button routerLink="/customer/cart" routerLinkActive="active">Carrito</button>
            <button mat-button routerLink="/customer/my_orders" routerLinkActive="active">Mis Pedidos</button>
            <button mat-button routerLink="/customer/wishlist" routerLinkActive="active">Lista de Deseos</button>
            <button mat-button routerLink="/customer/profile" routerLinkActive="active">Perfil</button>
            <button mat-button routerLinkActive="active" (click)="logout()">Cerrar Sesión</button>
        </mat-toolbar>
    </div>
    
    <router-outlet>
    
    </router-outlet>
    